doctype html
html
  head
    meta(charset='utf-8')
    
  body
    h2 Войдите в систему (логин и пароль)!
    form(method='post', action='/login/check')
      input(name='login', placeholder='Логин')
      br
      input(name='pass', type='password', placeholder='Пароль')
      br
      input.btn.btn-primary(type='submit', value='Войти')
